{% extends "pages/base.html" %}


{% load i18n %}

{% block title %}{% trans "LocalWiki - Settings" %}{% endblock %}

{% block header_title %}
    {% url 'regions:settings' region=region.slug as region_settings %}
    {% blocktrans with url=region.get_absolute_url region_slug=region.slug %}
        <a href="{{ region_settings }}">Settings</a> for <a href="{{ url }}">{{ region_slug }}</a>
    {% endblocktrans %}
{% endblock %}

{% block content %}
<div id="object_tags">
    <form action="{% url 'regions:edit-admins' region=form.instance.region.slug %}" method="POST">
        {{ form.admins.errors }}
        {% csrf_token %}
        <h2>{{ form.admins.label }}:</h2>
        {{ form.admins }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <br/>
        <input type="submit" name="save" class="little" value="{% trans "Save" %}"/>
    </form>
</div>
{% endblock %}
