{% extends "pages/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "LocalWiki" %}{% endblock %}

{% block header_title %}{% trans "LocalWiki" %}{% endblock %}

{% block content %}
  <p>This is an <strong>insanely</strong> early preview of the <a href="http://localwiki.org/blog/2013/jul/25/big-news-future-localwiki/" target="_blank">new version of LocalWiki</a>. We're making everything open as we build, but there's not much to see here yet.</p>
  <p>For now, please see the <strong><a href="{% url 'pages:frontpage' region='main' %}">main site for help!</a></strong></p>
  <h2>Regions</h2>
  <ul>
  {% for region in regions %}
    <li><a href="{% url 'pages:frontpage' region=region.slug %}">{{ region.full_name }}</a></li>
  {% endfor %}
  </ul>
  <p><a href="{% url 'add-region' %}" class="button">Add region</a></p>
{% endblock %}
