{% load follow_tags %}
{% load i18n %}

{% if request.user.is_authenticated %}
<div id="follow_item">
<form action="{% follow_url object %}" method="post">
	{% csrf_token %}
	{% if request.user|is_following:object %}
        <div class="unfollow little button" onClick="$('#follow_item form').submit()" title="{% trans "Stop following" %}"><span class="text"></span></div>
		<input type="submit" value="Unfollow" name="Test" />
	{% else %}
        <div class="follow little button" onClick="$('#follow_item form').submit()" title="{% trans "Start following" %}"><span class="text"></span></div>
		<input type="submit" value="Follow" />
	{% endif %}
</form>
</div>
{% endif %}
