{% load follow_tags %}
{% load i18n %}

{% if request.user.is_authenticated %}
<div class="follow_item">
<form action="{% follow_url object %}" method="post">
	{% csrf_token %}
	{% if request.user|is_following:object %}
        <div class="unfollow little button" title="{% blocktrans %}Stop following this {{ object_type }}{% endblocktrans %}"><span class="text"></span></div>
		<input type="submit" value="Unfollow" name="Test" />
	{% else %}
        <div class="follow little button" title="{% blocktrans %}Start following this {{ object_type }}{% endblocktrans %}"><span class="text"></span></div>
		<input type="submit" value="Follow" />
	{% endif %}
</form>
</div>
{% endif %}
