{% extends "site/base.html" %}
{% load url from future %}

{% block header_title %}Log in{% endblock %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
<p><a href="{% url 'django.contrib.auth.views.password_reset' %}">Forgot your password?</a></p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="login_form">
{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<a href="{% url 'django.contrib.auth.views.password_reset' %}">Forgot your password?</a>

{% endblock %}
