{% extends "pages/base.html" %}

{% load url from future %}
{% load i18n %}
{% load cache %}

{% block title %}{% blocktrans with region_name=region.full_name %}Explore {{ region_name }}{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block header_title %}{% blocktrans with region_name=region.full_name %}Explore {{ region_name }}{% endblocktrans %}{% endblock %}

{% block head_extra %}
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>$(document).ready(function() {
  $.endlessPaginate();
  });</script>
  {% if pagination_has_more_left %}
  <link rel="next" href="{{ pagination_next }}">
  {% endif %}

{% endblock %}

{% block media %}{{block.super}}{{ map_media }}{% endblock %}

{% block content %}
  {# {% cache 600 page_list region %} #}
  <div id="explore">
    {% include "explore/page.html" %}

    <div class="see_also">
      <div class="pagination">
        <a href="{% url 'explore' region=region.slug %}">{% trans "Default" %}</a>
        <a class="current" href="#">{% trans "Alphabetical" %}</a>
        <a href="{% url 'explore-as-list' region=region.slug %}">{% trans "List" %}</a>
      </div>
    </div>

  </div>
  {# {% endcache %} #}
{% endblock %}
