{% load cards_tags %}
{% load i18n %}
{% load cache %}

{% cache 600 explore_page request.META.HTTP_HOST region.slug page_type pagination_next %}

  {% for page in pages %}
    {% page_card page %}
  {% endfor %}
  
  {% if pagination_has_more_left %}
      <div class="endless_container">
          <a class="endless_more button" href="{{ pagination_next }}{% if random_seed %}&amp;s={{ random_seed }}{% endif %}"
              rel="">{% trans "More" %}</a>
          <div class="endless_loading loading" style="display: none;"></div>
      </div>
  {% endif %}

{% endcache %}
