@font-face {
    font-family: 'Cabin';
    src: local('Cabin Regular'), local('Cabin-Regular'), url('../fonts/cabin/Cabin-Regular-webfont.eot');
    src: local('Cabin Regular'), local('Cabin-Regular'),
         url('../fonts/cabin/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin Italic'), local('Cabin-Italic'), url('../fonts/cabin/Cabin-Italic-webfont.eot');
    src: local('Cabin Italic'), local('Cabin-Italic'),
         url('../fonts/cabin/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Italic-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Italic-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin Bold'), local('Cabin-Bold'), url('../fonts/cabin/Cabin-Bold-webfont.eot');
    src: local('Cabin Bold'), local('Cabin-Bold'),
         url('../fonts/cabin/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Bold-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
