/* LICENSE and credits: please see LICENSE.txt in this directory */

body {
    z-index: 0;
    background: #fafafa url(../img/body-bg.png) top left repeat;
}

/*
====================================
 Type
====================================
*/

body {
    font: 16px/25px "Cabin", Arial, "Helvetica Neue", "Helvetica", sans-serif;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
h1 {
    font-size: 175%;
    line-height: 130%;
    margin-bottom: 0.45em;
}
h2 {
    font-size: 150%;
    line-height: 115%;
    margin-bottom: 0.45em;
}
h3 {
    font-size: 125%;
    line-height: 120%;
    margin-bottom: 0.45em;
}
h4 {
    font-size: 100%;
    line-height: 125%;
    margin-bottom: 0.6em;
}
h5, h6 {
    font-size: 100%;
    line-height: 125%;
    margin-bottom: 0.6em;
}
a, a:link {
    color: #4e58b5;
}
a:hover {
    color: #111;
}
table {
    margin-bottom: 1em;
}
p { 
    margin-bottom: 1em;
}
pre, code {
    margin: 15px 0;
    padding: .5em;
    white-space: pre-wrap;
    overflow: auto;
    font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace;
    line-height: 20px;
    border: 1px solid #CBCBCB;
    background-color: #FFF8ED;
}
/* API docs is class="content_type api" */
.content_type.api .request-info, .content_type.api .response-info {
    font-size: 80%;
}
.content_type.api p pre, .content_type.api p code,
.content_type.api li pre, .content_type.api li code {
    margin: 0;
    padding: inherit;
    overflow: inherit;;
    font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace;
    line-height: inherit;
    border: inherit;
    background-color: inherit;
}

/* bug fix */
pre code {
    border: none;
}

textarea, input, select {
    font-size: 15px;
}

.weak {
    color: #9f9f9f;
}

/*
====================================
 Main area
====================================
*/

#main {
    margin-left: 5em;
    margin-right: 8em;
}
@media screen and (max-width: 700px) {
    #main {
        margin-left: 1em;
        margin-right: 1em;
    }
}

/*
====================================
 Content area
====================================
*/

#content {
    margin-top: 1em;
    margin-bottom: 1.4em;
}
#content.has_map {
    min-height: 340px;
}
@media screen and (max-width: 500px) {
    /* for margin collapse behavior */
    #content.has_map {
        border-top: 1px solid #fafafa;
        border-bottom: 1px solid #fafafa;
    }
    /* Display content under map when page contains both */
    #content.has_map #page, #content.has_map #pagetagset, #content.has_map #regions, #content.has_map #nearby_maps {
        margin-top: 250px;
    }
    /* For an included list of tagged pages */
    .included_page_wrapper #pagetagset.has_map {
        margin-top: 290px;
        display: inline-block;
    }
}

/* Map detail view - we want map to have no margins. */
#main.mapdata_detail {
    margin-left: 0;
    margin-right: 0;
}
.mapdata_detail #content {
    margin-top: 0; 
    margin-bottom: 0;
}
/* Page edit view - we don't want margins. */
#main.page_form #content {
    margin-top: 0.9em; 
}

/*
====================================
 Header
====================================
*/


#header {
    background: #fafafa url(../img/body-bg.png) top left repeat;
    padding: 0;
    margin: 0;
    border: 1px solid #E8ECEF;
    border-bottom: 1px solid #DAE1E5;
}
#header_bar {
    margin: 0;
    padding: 1.13em 2em 1.13em 5em;
    background: #E8ECEF url(../img/header-bg.png) top left repeat;
    min-height: 0;
}
#header_bar a, #header_bar a:link {
    color: #444;
}
#header_bar a:hover {
    color: #111;
}
#header_bar .inner {
    margin: 0.5em 0;
    display: table-cell;
}
/* Header has an icon on map, tag pages - pages with a special content
 * type */
.content_type #header_bar .inner:before {
    content:"";
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin-left: -2.75em;
}
/* No-icon content types */
.content_type.region #header_bar .inner:before,
.content_type.api #header_bar .inner:before {
    width: 0;
    height: 0;
}

.mapdata #header_bar .inner:before {
    background: url(../img/map-icon.png) 3px 0 no-repeat;
}
.tagpage #header_bar .inner:before {
    background: url(../img/tag-icon.png) no-repeat;
}
@media screen and (max-width: 700px) {
    #header_bar {
        /* margin-top: 3.5em; */
        padding: 1.13em 1em 1.13em 1em;
    }
    #header_bar .inner {
        margin: 0.5em;
    }
    .content_type #header_bar .inner:before {
        margin-left: 0;
        margin-right: 0.2em;
        background-size: auto 88%;
    }
}
@media screen and (max-width: 500px) {
    #header {
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    #header_bar {
        margin-top: 0;
        padding: 0.5em 1em 0.5em 1em;
    }
    #header_bar .inner {
        display: block;
    }
    #map_header_bar {
        margin-top: -2px;
    }
}

#object_title {
    margin: 0;
    padding: 0.4em 0;
    display: inline;
}
#object_title a {
    text-decoration: none;
}
#object_subtitle {
    position: relative;
    margin-top: 0.3em;
    margin-left: 0;
    margin-bottom: 0.5em;
    font-size: 80%;
    color: #747474;
}
#object_subtitle.prominent {
    margin-bottom: 0;
    font-size: 110%;
}
@media screen and (max-width: 700px) {
    #object_title {
      font-size: 150%;
    }
}

#common_header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #efefef;

    display: table;
    width: 100%;
}
/* When not in a region, we want the common header to
 * look a bit different */
#common_header.no_region {
    margin-bottom: 1.5em;
}
#common_header input {
    margin-bottom: 0;
}
#common_title {
    display: table-cell;
    vertical-align: middle;
    padding: 12px 0 12px 0;

    width: 1px; /* Decreases the size to 1px if possible */
    white-space: nowrap; /* Forces the cell to only decrease to the contents */
}
#common_title img {
    display: block;
    padding-left: 1.5em;
    width: 130px;
}

#region_header #new_page_area {
  float: right;
}

#region_header.with_logo #new_page_area > div {
  height: 56px;
  display: table-cell;
  vertical-align: middle; 
}

#region_header #new_page_button {
    float: none;
    display: inline-block;
    margin-right: 2em;
    background-image: url(../img/edit_icon.png);

    padding-left: 25px;
    font-size: 90%;
    background-repeat: no-repeat;
    background-position: 9px 50%;
    display: block;
    padding-right: 0.8em;
    font-weight: normal;
}

#region_header #new_page_form {
    display: none;
    float: right;
    margin-right: 2em;
}
/* Hide this but allow Enter-to-submit */
#region_header #new_page_form input[type="submit"] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
}
#region_header {
    border-bottom: 1px solid #E8ECEF; /* Check before removing this border -
        it's needed for the correct CSS margin/padding behavior.
        TODO: fix this. */
    padding: 1em 0 1em 0;
}
#region_title {
    background: #fafafa url(../img/body-bg.png) top left repeat;
    padding: 0 1em 0 1.5em;
    border-right: 3px solid #dddddd;
    font-size: 90%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
#region_title h1 {
    margin-bottom: 0;
}
/* Make it slightly lighter so attention is drawn to page title first */
#region_title h1, #region_title h1 a:link, #region_title h1 a {
    color: #5f5f5f;
}
#region_title h1 a:hover {
    color: #111;
}
#region_title img {
    height: 56px;
    padding-right: 0.5em;
    display: block; /* region_title contains either an h1 (block) or an img,
                       so let's make this more consistent */
}
#region_title a, #region_title a:link {
    text-decoration: none;
    color: #444
}
#region_title a:hover {
    color: #111;
}
/* When we're not in a region, we don't have a #region_title so we will
 * need to increase the nav padding */
#region_header.not_in_region #nav {
    padding-left: 1.5em;
}

@media screen and (max-width: 700px) {
    #region_title {
        font-size: 75%;
        border-right: none;
        padding-right: 0;
    }
    #region_header.with_logo #new_page_area > div {
        height: 37px;
    }
    #region_title img {
        height: 37px;
    }
    #region_header #new_page_button {
        font-size: 70%;
        padding-left: 0.8em;
        background-image: none;
        line-height: 1.7;
        padding-left: 0.6em;
        padding-right: 0.6em;
        margin-right: 1.13em;
    }
}
@media screen and (max-width: 500px) {
    #region_header {
        padding: 0;
    }
    #common_header #common_title {
        display: none;
    }
    #common_header { 
        position: absolute;
        margin-top: 0px;
        display: block;
        background: none;
        border: 0;
    }
    #region_header #new_page_button {
        display: none;
    }
    #region_title {
        display: none;
    }
}

#object_actions {
    float: right;
    padding-left: 1.5em;
}
#object_actions ul {
    list-style-type: none;
    margin: 0;
}
#object_actions li {
    display: table-cell;
    vertical-align: middle;
}
#object_actions .button {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5em;
}
@media screen and (max-width: 500px) {
    #object_actions {
        padding-left: 0.6em;
        margin-top: -0.3em;
    }
}

#object_tags {
    display: block;
    line-height: 1.3;
    margin-top: 1em;
    margin-bottom: 1em;
}
#object_tags form {
    display: inline;
}
#object_tags input[type="submit"] {
    display: inline;
}
#object_tags li.tag {
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
    display: block;
    float: left;
}
/* no box-shadow around the text input area */
.tagedit-list li.tagedit-listelement-new {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#object_tags .tag-list {
    display: table-cell;
}
#object_tags .edit_tags {
    display: block;
    padding: 13px 10px 14px 8px;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
#object_tags .edit_tags span {
    background: url(../img/tag-icon-small.png) 0 0 no-repeat;
    padding-left: 22px;
}
#object_tags .edit_tags_cancel {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
}

#login_info {
    padding-right: 2em;
    display: table-cell;
    vertical-align: middle;
}
#login_info > div {
    float: right;
}
#login_info .welcome {
    float: left;
    margin-right: 0.8em;
}
#login_info .actions a {
    text-align: center;
    font-size: 90%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    padding: 0.32em 0.6em 0.32em 0.6em;
    line-height: 100%;
    margin: 0;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    text-decoration: none;
    color: inherit;
}
#login_info .actions a:hover {
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    color: #111;
}
@media screen and (max-width: 700px){
    #login_info {
        display: block;
        float: none;
        text-align: right;
        width: 100%;
        margin: 0;
        padding: 0;
     }
    #login_info > div {
        margin: 0.5em;
    }
}
@media screen and (max-width: 500px) {
    #login_info {
        display: none;
    }
}

#header .site_search {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}
#header .site_search input {
    float: left;
}

#header .site_search input::-webkit-input-placeholder {
    color: #868686;
}
#header .site_search input::-moz-placeholder {
    color: #868686;
}
#header .site_search input::-ms-input-placeholder{ 
    color: #868686;
}

#header .site_search input[type="text"], #header .site_search #id_q {
    padding: 0;
    height: 2em;
    width: 200px;
    font-size: 15px;
    line-height: 30px;
    margin-right: 0.5em;
    padding-left: 30px;
    background-color: #fafafa;
    border: 1px solid #cccccc;
}
/* Hide this but allow Enter-to-submit */
#header .site_search input[type="submit"] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
}

.search input[type="text"] {
    background: #ffffff url(../img/magnifying_glass.png) no-repeat 10px 56%;
    padding-left: 30px;
}

/* Hacky - needs fix but this..kind of worked: */
@media screen and (max-width: 700px) {
    #header .site_search {
        width: 34%;
    }
    #header .site_search input[type="text"], #header .site_search #id_q {
        width: 85%;
    }
}
@media screen and (max-width: 500px) {
    #header .site_search {
        width: auto;
        float: none;
        margin: 0;
        margin-right: 80px;
        padding: 0;
        /*padding-left: 65px;*/
        padding-left: 5px;
        padding-top: 5px;
        height: 27px;
        display: block;
    }
    .site_search form {
        height: 100%;
    }
    #header .site_search input {
        float: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #header .site_search input[type="text"], #header .site_search #id_q {
        height: 100%;
        width: 100%;
        background-position: 10px 8px;
        font-size: 13px;
        line-height: 14px;
    }
}

/*
====================================
 Nav
====================================
*/
#nav {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
}
#nav ul {
    list-style-type: none;
    display: table-cell;
    margin: 0;
}
#nav a, #nav a:link {
    color: #444;
}
#nav li {
    margin: 0;
    margin-right: 0.4em;
    float: left;
}
#nav li a {
    text-align: center;
    font-size: 83%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5em 0 0.5em;
    height: 1.7em;
    line-height: 100%;
    margin: 0;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    color: #111;
}
#nav #pull {
    display: static;  
}
@media screen and (max-width: 700px) {
    #nav {
        padding-left: 0.2em;
    }
    #nav ul {
        font-size: 90%;
        margin: -0.8em 0.5em 0.5em 0.5em;
        padding: 0;
    }
    #nav li {
        margin: 0.2em;
    }
    
    #nav li a {
    }
}
@media screen and (max-width: 500px) {
    #nav {
        color: #666!important;
        font-weight: bold;
        border: none;
        margin-bottom: 0;
        /* TODO: explore using purely CSS gradients */
        background: #e6e6e6 url(../img/gradient.png) repeat-x bottom left;
        border-bottom: 1px solid #bfbfbf;
        text-decoration: none;
        display: block;
        padding-left: 0;
    }
    #nav ul {
        margin: 0;
        padding: 0;
        top: 0;
        display: none;
        border: none;
    }
    #nav li, #nav li a {
        width: 100%;
        padding: 0;
        margin: 0;
        float: none;
        font-size: 110%;
        background-color: #455868;
        color: #f4f4f4!important;
	    display: table;
	    text-align: center;
	    text-decoration: none;
	    line-height: 40px;
    }
    #nav li a {
        border: none;
        border-bottom: 2px solid #576979;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    #nav li:last-child a {
        border-bottom: none;
    }
    #nav li a:hover, #nav li a:active {
        background-color: #8c99a4;
        border: none;
        border-bottom: 2px solid #576979;
    }
    #nav li:last-child a:hover, #nav li:last-child a:active {
        border-bottom: none;
    }
    #nav #pull {  
        display: block;  
        height: 40px;
    }  
    #nav #pull .button {
        float: none;
    }
    #nav #pull:after {  
        content:"";  
        background: url('../img/nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: block;  
        position: absolute;
        margin-top: 11px;  
        right: 5px;  
    }
    #nav li {
        text-transform: capitalize;
    }
}


/*
====================================
 Map widget on a page
====================================
*/

/* The entire-map div */
#map {
    background: #E8ECEF url(../img/header-bg.png) top left repeat;
    padding: 10px;
    border-bottom: 1px solid #DAE1E5;
    border-left: 1px solid #DAE1E5;
    border-right: 1px solid #DAE1E5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: right;
    margin-top: -1.2em;
    margin-left: 1em;
    margin-bottom: 0.8em;
}
#map a, #map a:link {
    color: #444;
}
#map a:hover {
    color: #111;
}
/* Just the widget. Contained in #map. */
.mapwidget.small {
  border: 1px solid #b5b5b5;
  width: 400px!important;
  height: 300px!important;
}
#map .info {
  display: table-cell;
  padding-top: 10px;
}
#map .info a {
  padding-left: 25px;
  font-size: 90%;
  background-repeat: no-repeat;
  background-position: 9px 50%;
  display: block;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-right: 0.8em;
  font-weight: normal;
  margin-right: 0.5em;
}
#map .info a.view {
  background-image: url(../img/magnifying_glass.png);
}
#map .info a.edit {
  background-image: url(../img/edit_icon.png);
}
#map .simple_pagination {
  padding-top: 0.4em;
  height: 1.5em!important;
}
#map .simple_pagination a {
  margin-right: 0.5em;
  font-size: 90%;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-right: 0.8em;
  font-weight: normal;
  margin-right: 0.5em;
}

#new_map_form {
    display: none;
    position: absolute;
    z-index: 500;
    margin-left: 90px;
    margin-top: 30px;
}
#new_map_form .tt-dropdown-menu {
    min-width: 250px;
}
#new_map_form.with_results, #add_map_button.with_results {
    margin-left: 25em;
}

/* Hide this but allow Enter-to-submit */
#new_map_form input[type="submit"] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
}
#add_map_button {
    position: absolute;
    z-index: 500;
    margin-left: 90px;
    margin-top: 30px;
}
#add_map_button .button {
    font-weight: normal;
}
#add_map_button .button .text {
    background: url(../img/map-icon-small.png) 0px 66% no-repeat;
    padding-left: 20px;
}

/* Map widget, when it's part of page content */
#page #map {
    margin: 0.5em;
    margin-left: 0;
}
@media screen and (max-width: 700px) {
    #map {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .mapwidget.small {
        width: 100%!important;
        height: 200px!important;
    }
}
@media screen and (max-width: 500px) {
    #map {
        width: 100%;
        position: absolute;
        left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .mapwidget.small {
        border-left: none;
        border-right: none;
    }
    #map .info {
        padding-left: 1em;
    }
}

/* Overview map */
.mapdata #results_pane {
  background: #E8ECEF url(../img/header-bg.png) top left repeat;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  width: 15em;
  margin-top: -2px;
  border-right: 1px solid #DAE1E5;
}

/* Border added to make JS height calculation work immediately for
* maps */
.mapdata #content_wrapper {
   /* Don't remove the border w/o checking that maps still occupy the full window */
   border: 1px solid #fafafa;
}

/*
====================================
 Files
====================================
*/
.pagefile form table td, .pagefile form table, .pagefile form th {
    border: none;
}


/*
====================================
 Footer
====================================
*/


#footer {
    background: #e1e1e1 url(../img/footer-bg.png) top left repeat;
    padding: 1.2em;
    clear: both;
    min-height: 30px;
}
#footer p { margin: 0; padding: 0; color: #999;}
#footer a {
    /* Make the link color lighter in the footer */
    color: #7279bc;
}

#powered_by {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}
#powered_by a img {
    border: none;
}
#powered_by a {
    background-image: none;
}

#about {
    margin: 1em auto 0 auto;
    max-width: 60em;
    font-size: 80%;
    text-align: center;
    border-bottom: 2px solid #dddddd;
}

#nearby_regions_bar {
    margin: 1.5em auto 0.5em auto;
    max-width: 60em;
    font-size: 80%;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px solid #dddddd;
}
#nearby_regions_bar a {
    border-left: 2px solid #dddddd; 
    line-height: 1.3;
    display: inline-block;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
#nearby_regions_bar a:first-child {
    border-left: none;
}

/*
====================================
 Lists
====================================
*/

ul { list-style-type: disc; }
ul ul { list-style-type: circle; margin-top: 0.5em;}
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }
ul ul ul ul ul { list-style-type: circle; }
ul ul ul ul ul ul { list-style-type: square; }
ul ul ul ul ul ul ul { list-style-type: circle; }
ol { list-style-type: decimal ; }

ul, ol { margin-bottom: 1em; }

li {
    margin-left: 3em;
    margin-bottom: 0.4em;
}
/* Text indent styles */
.indent1 { margin-left: 3em; }
.indent2 { margin-left: 6em; }
.indent3 { margin-left: 9em; }
.indent4 { margin-left: 12em; }
.indent5 { margin-left: 15em; }
.indent6 { margin-left: 18em; }
.indent7 { margin-left: 21em; }
.indent8 { margin-left: 24em; }
.indent9 { margin-left: 27em; }
.indent10 { margin-left: 30em; }

/* Sub/Sup */
sub { vertical-align: sub }
sup { vertical-align: super }

/* We don't want margin inside <p> inside list items.  The editor has a
 * tendency to occasionally add <p> to list items when editing, so in order to
 * keep tables looking consistent we zero this out. */
#content #page li p, .page_editor li p {
    margin-bottom: 0;
}

/*
====================================
 Tables
====================================
*/


table, td, th {
    vertical-align: top;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
}
td, th {
    padding: 5px;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
thead, tfoot { background: #f2f2f2; }

@media screen and (max-width: 700px) {
    /* For images next to tables on small screens */
    #content #page table {
        clear: both;
    }
}

/* We don't want margin inside <p> inside table cells.  The editor has a
 * tendency to add <p> to table cells when editing, so in order to keep
 * tables looking consistent we zero this out. */
#content #page td p, .page_editor td p {
    margin-bottom: 0;
}
/* Reset the <p> behavior inside the diff table's immediate <td>s */
#content #page .htmldiff > td > p {
    margin-bottom: 1em;
}

/*
====================================
 Forms and buttons
====================================
*/

/*
form p { color: #999; }
form p label { font-weight: normal; }
*/

form p.required label { font-weight: bold; }
textarea, input, button, .button, select {
    display: block;
    padding: 5px;
    color: #444!important;
    background-color: #fff;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
textarea, input, .button {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
input[type="text"], input[type="password"] {
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    background: #fff;
}
@media screen and (max-width: 700px) {
    input[type="text"], input[type="password"] {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
select {
    display: block;
    max-height: 300px;
    width: 250px;
    margin-bottom: 10px;
    font: 16/20px 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace;
}
input[type="submit"], input[type="button"], button, .button {
    font: 16px/25px "Cabin", Arial, "Helvetica Neue", "Helvetica", sans-serif;
    color: #666!important;
    font-weight: bold;
    padding: 6px 10px;
    border: none;
    /* TODO: explore using purely CSS gradients */
    background: #e6e6e6 url(../img/gradient.png) repeat-x bottom left;
    margin: 10px 5px 10px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    border: 1px solid #bfbfbf;
    display: block;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.button {
    float: left;
    cursor: pointer;
}
.little.button, input.little, a.little {
    padding: 0.2em 0.5em 0.3em 0.5em;
    margin: 0;
    font-size: 90%;
}
input.little {
    /* values are slightly different to make it look the same as
     * non-input little button. Not sure why this works but it does. */
    height: 2.2em;
}
.tiny.button, input.tiny {
    padding: 10px 8px 11px 8px;
    margin: 0;
    font-size: 90%;
    line-height: 0;
}
.button.cancel {
}

.button.active {
    background: #dcdcdc url(../img/gradient.png) repeat-x bottom left;
}


input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button:hover {
    background-color: #dcdcdc!important;
    border-color: #c8cbde;
    border-bottom-color: #a9a9a9;
}
input[type="submit"]:active, input[type="button"]:active, button:active, .button:active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}
input[type="hidden"] { display: none; }
input[type="checkbox"], input[type="radio"] { display: inline; }
label {
    margin-bottom: 4px;
    font-weight: bold;
    color: #444;
}
div.templates {
    clear: both;
}
div.templates li {
    list-style: none;
    margin-left: 1em;
}

input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus {
  border-color: rgba(82, 168, 236, 0.7)!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* textarea { background: #fff; width: 435px; height: 150px; } */

/*
====================================
 History area
====================================
*/

#compare_form {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 8px;
    display: table;
}
#compare_form label {
    font-weight: normal;
    color: #999999; /* On white bg, so let's go lighter */
}
#compare_form label a {
    text-decoration: none; /* Underline is too intense here */
    color: #5d66bf; /* on white bg, so let's go lighter */
}
#compare_form label a:hover {
    color: #444;
}
#compare_form .date {
    color: #444;
    font-weight: bold;
}
#compare_form .date:hover {
    color: #111;
    text-decoration: underline;
}
#compare_form thead td, #compare_form tfoot td {
    padding-left: 1em;
}
#compare_form table {
    background-color: white;
    margin: 0;
}
#compare_form td {
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (max-width: 700px) {
    #compare_form {
        font-size: 70%;
    }
    #compare_form td {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/* Login form */
#login_form table td, #login_form table {
}

/*
====================================
 Messages and alerts
====================================
*/

.messages {
    border: 1px solid #d2d2d2;
    background-color: #feffc9;
    margin-top: 1em;
    margin-bottom: 0;
    color: black;
    padding: 1em 1em 0 1em;
    list-style-type: none;
}
.mapdata .messages {
    border-top: none;
    margin-top: 0;
}
.messages li {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}
.messages li > div {
    margin-top: 0.5em;
}
.messages li > div:first-child {
    margin-top: inherit;
}

#dialog {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-bottom: 0.5em;
    color: #000000;
    margin-bottom: 1em;
    margin-top: 0.8em;
}
#dialog ul {
    list-style-type: none;
}
#dialog ul li {
    margin-left: 0;
}

#create_page_dialog {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 1em;
    color: #000000;
    margin-bottom: 1em;
    margin-top: 0.8em;
}
#create_page_dialog div {
    min-height: 3em;
}
.create_map {
    padding-top: 1em;
    min-width: 30px;
    display: table;
    vertical-align: top;
    margin-bottom: 0;
}
.create_map .button {
    margin-right: 0.5em;
    margin-top: -0.35em;
}
.button.map .text {
    background: url(../img/map-icon-small.png) 0px 66% no-repeat;
    padding-left: 20px;
}
.button.redirect .text {
    background: url(../img/arrow-turn-left.png) 2px 2px no-repeat;
    padding-left: 20px;
}
.button.security .text {
    background: url(../img/lock.png) 0 1px no-repeat;
    padding-left: 20px;
}

/*
====================================
 Activity Feeds
====================================
*/

#activityfeed ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 1em;
}

#activityfeed .item {
    /*background-color: white;
    border: 1px solid #dddddd;
    */
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #dddddd;
}
#activityfeed .item:first-child {
    padding-top: 1em;
    border-top: none;
}
#activityfeed h2 {
    font-size: 180%;
    margin-top: 0.7em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid;
}
#activityfeed h3 {
    color: #8c8c8c;
    margin-bottom: 0;
}
#activityfeed h3 a, #activityfeed h3 a:link {
    color: #444;
}
#activityfeed h3 a:hover {
    color: #111;
}
#activityfeed hr {
    height: 5px;
    border: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    margin-bottom: 1.5em;

    /* Copied from #main margin: */
    margin-left: -5em;
    margin-right: -8em;
}
#activityfeed #limit_to {
    float: right;
    margin-top: 0.1em;
    padding-bottom: 0.7em;
}
#activityfeed #limit_to span {
    float: left;
}
#activityfeed #limit_to .pagination {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: -0.6em;
}
#activityfeed li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 30px;
    margin-bottom: 0.7em;
}
#activityfeed .changelabel {
    width: 5.2em;
    /* This is basically .little.button */
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    padding: 7px 10px 8px 10px;
    line-height: 100%;
    margin: 0;
    margin-right: 1em;
    border: 1px solid #bfbfbf;
}
#activityfeed .changelabel.updated {
    /* .updated is a button */
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;

    /* TODO: explore using purely CSS gradients */
    background: #E8ECEF url(../img/gradient.png) repeat-x bottom left;
    border: 1px solid #bfbfbf;

    /* Slightly different padding*/
    padding-top: 6px;
    padding-bottom: 7px;

    text-decoration: none;
}
#activityfeed .changelabel.updated:hover
{
    background-color: #dcdcdc!important;
    border-color: #c8cbde;
    border-bottom-color: #a9a9a9;
}
#activityfeed .changelabel.updated:active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#activityfeed .changelabel.added {
    background-color: #fdfab4;
    color: #6b6945;
    border-color: #e1e1e1;
    border: none;
    border-radius: 0px;
}
#activityfeed .changelabel.deleted {
    background-color: #f3d8d8;
    border-color: #dedede;
    color: #808080;
    color: #767676;
    color: #6b6b6b;
    color: #646464;
    border: none;
    border-radius: 0px;
}
#activityfeed .changelabel a {
    text-decoration: none;
    color: #666;
}
#activityfeed .comment {
    padding-right: 0.5em;
}

#activityfeed .map .changelabel span {
    background: url(../img/map-icon-small.png) 0px 66% no-repeat;
    padding-left: 20px;
}
#activityfeed .file .changelabel span {
    background: url(../img/document-block-light.png) 2px 66% no-repeat;
    padding-left: 20px;
}
#activityfeed .redirect .changelabel span {
    background: url(../img/arrow-turn-left.png) 2px 2px no-repeat;
    padding-left: 20px;
}

#activityfeed .tags .changelabel span {
    background: url(../img/tag-icon-small.png) 0 0 no-repeat;
    padding-left: 20px;
}

#signup_new_explainer h3 {
    font-size: 150%;
}
#signup_new_explainer li {
    font-size: 110%;
    border-top: 1px solid #dddddd;
    margin: 0;
    padding: 1em;
}
#signup_new_explainer li:first-child {
    border-top: none;
}
#signup_new_explainer .follow_item {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-top: -2px;
}

@media screen and (max-width: 700px) {
    #activityfeed #limit_to {
        float: none;
        height: 2em;
        margin: 0;
        font-size: 95%;
    }
    #activityfeed h3 {
        font-size: 110%;
        margin-top: 0.6em;
    }
    #activityfeed li {
        padding-left: 0;
        margin-left: 0;
    }
    #activityfeed .item {
        padding: 1em 0 1em 0;
    }
    #activityfeed .item:first-child {
        padding-top: 0;
    }
}
@media screen and (max-width: 500px) {
    #activityfeed #limit_to {
        clear: both;
        float: none;
        height: 5em;
        padding-bottom: 0;
    }
    #activityfeed #limit_to span {
        display: block;
        float: left;
        margin-bottom: 0.5em;
    }
    #activityfeed #limit_to .pagination {
        padding: 0;
        margin: 0;
        clear: both;
        margin-right: 0.4em;
    }
    #activityfeed .changelabel {
        display: block;
        width: 100%;
        clear: both;
        margin-bottom: 0.5em;
        padding: 10px 0 11px 0;
    }
    #activityfeed .changelabel.updated {
        /* Slightly different padding*/
        padding-top: 9px;
        padding-bottom: 10px;
    }
    #activityfeed hr {
        margin-left: -1em;
        margin-right: -1.5em;
    }
}

.see_also {
    border-top: 4px solid #dddddd;
    padding-top: 1em;
    margin-top: 6em;
    display: block;
    clear: both;
}

.endless_more {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;
}

/*
====================================
 User info
====================================
*/

.gravatar {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.user_link {
    display: inline-block;
}
.user_link img {
    float: left;
    margin: 2px 4px 0 0;
}

.user_settings .gravatar {
    float: left;
    margin: -1px 8px 0 0;
}
.user_settings input[type="submit"] {
    margin-top: 1.5em;
}

.contributor_list {
    margin-left: 5px;
}
.contributors .user_link {
    display: inline;
}
.contributors .user_link img {
    float: none;
    vertical-align: middle;
    margin-bottom: 6px;
}

#user_page_info {
    display: table;
    float: right;
    margin: 0 3em 3em 1em;
    width: 250px;
}

#user_page_info a {
    text-decoration: none;
}
#user_page_info h3 {
    color: #444444;
}
#user_page_info .profile_picture img {
}
#user_page_info .profile_table {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 0.7em 0.5em 0.7em 0.5em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

#user_page_info .stats_list {
    border-bottom: 1px solid #dddddd;
    padding-top: 0.3em;
    padding-bottom: 0.8em;
    text-align: center;
    display: table;
    width: 100%;
    table-layout: fixed;
}
#user_page_info .stat_number {
    font-size: 170%;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    padding-left: 0.25em;
    padding-right: 0.25em;
    width: 33%;
}
#user_page_info .stat_number .type {
    margin-top: 0.1em;
    font-size: 50%;
    font-weight: normal;
    color: #858585;
    line-height: 1.2;
}
#user_page_info .stat_number a:link {
    color: inherit;
}
#user_page_info .stat_number a:hover, #user_page_info .stat_number a:hover .type {
    color: #4e58b5;
}
#user_page_info .edit_settings {
    margin-top: 1em;
}
#user_page_info .edit_settings a {
    margin-right: 1em;
}
.user_page .messages {
    margin-bottom: 1em;
}

#user_page_info .objects_followed {
    margin-top: 1em;
}
#user_page_info .pages_followed {
    background-image: url(../img/document.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 25px;
}

#user_page_info .users_followed {
    background-image: url(../img/user-silhouette.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 25px;
}

#user_page_info .regions_followed {
    margin-top: 0.8em;
}
#user_page_info .regions_followed ul {
    list-style-type: none;
    display: block;
    margin-bottom: 0;
}
#user_page_info .regions_followed li {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 0.5em;
    line-height: 2.3;
    font-size: 80%;
}
#user_page_info .regions_followed li a {
    text-decoration: none;
    background-color: #efefef;
    padding: 0.3em 0.8em 0.3em 0.8em;
}

@media screen and (max-width: 500px) {
    #user_page_info {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
====================================
 Following actions
====================================
*/


.follow_item {
    float: right;
    margin-top: 0.25em;
}

/* Hide */
.follow_item input[type="submit"] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
}
.follow_item .follow .text {
    background-image: url(../img/star-empty.png);
    width: 20px;
    height: 21px;
}
.follow_item:hover .follow .text {
    background-image: url(../img/star.png)!important;
}
.follow_item .unfollow .text {
    background-image: url(../img/star.png);
    width: 20px;
    height: 21px;
}
.follow_item:hover .unfollow .text {
    background-image: url(../img/star-empty.png)!important;
}
.follow_item .follow .text, .follow_item .unfollow .text {
    font-size: 90%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    font-weight: normal;
}
.follow_item:hover {
    cursor: pointer; 
}

/* We display "follow this page" inline inside of the messages dialog sometimes, e.g.
 * after the page has been edited while logged in & not following yet. */
.messages .follow_item {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}
.messages .follow_item .text {
    background-position: 0 50%;
    padding-left: 24px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 500px) {
    .follow_item {
        display: none;
    }
}


/*
====================================
 Search results
====================================
*/

#search_results .highlighted {
    font-weight: bold;
}
#search_results .simple_pagination {
    height: 3em;
}

#search_results #create_page_dialog input[type="submit"] {
    margin-bottom: 0;
}

#search_results .site_search {
    padding: 1em;
    padding-bottom: 0.3em;
}
#search_results .site_search input {
}
#search_results .site_search input[type="text"], #search_results .site_search #id_q {
    padding: 0;
    height: 30px;
    width: 25em;
    font-size: 15px;
    line-height: 30px;
    background: #ffffff url(../img/magnifying_glass.png) no-repeat 10px 10px;
    padding-left: 30px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.with_map #search_results #results_list {
    margin-right: 480px;
}

#search_results #map {
    margin-top: 1em;
    margin-left: 0!important;
    right: 8em;
}

#search_results #other_regions {
    background: #E8ECEF url(../img/header-bg.png) top left repeat;
    padding: 1em;
    border-bottom: 1px solid #DAE1E5;
    border-left: 1px solid #DAE1E5;
    border-right: 1px solid #DAE1E5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 0.8em;
    margin-top: 1em;
}
.with_map #search_results #other_regions {
    margin-right: 480px;
}

#search_results .region_result {
    background-color: #E8ECEF;
    padding: 0.8em 0.5em 0.5em 1em;
    margin-bottom: 1em;
}

/* Fix an issue with #map being floated + scrollToFixed */
#search_results #map.scroll-to-fixed-fixed {
    left: auto!important;
}

@media screen and (max-width: 500px) {
    .with_map #search_results #results_list {
        padding-top: 250px;
    }
    #main.allow_creation.with_map #search_results #results_list {
        padding-top: 264px;
    }
    #search_results #map {
        margin-top: -1.2em;
        position: absolute;
    }
    #main.allow_creation #search_results #map {
        position: absolute;
        margin-top: 0em;
    }
}
@media screen and (max-width: 700px) {
    .with_map #search_results #results_list {
        margin-top: 1em;
        margin-right: 0;
    }
    .with_map #search_results #other_regions {
        margin-right: 0;
    }
}

.tt-dropdown-menu {
    margin-top: 0em;
    background-color: white;
    min-width: 230px;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}
.twitter-typeahead {
    float: left;
    height: 100%;
}
@media screen and (max-width: 500px) {
    .twitter-typeahead {
        width: 100%;
    }
}
.tt-suggestion {
    padding-left: 30px;    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    margin: 0!important;
}
.tt-suggestion p {
    margin: 0;
}
.tt-hint {
    color: #999!important;
}
.tt-cursor {
    background-color: #d7e7f9;
}
.autocomplete_divider {
    padding: 0 1em 0 30px;
    margin: -1px!important;
    border-bottom: 1px solid #dedede;
}

/*
====================================
 Attributions
====================================
*/

#attributions {
    margin: 1em auto 0 auto;
    font-size: 80%;
    text-align: center;
    padding-bottom: 1em;
}

/*
====================================
 Pagination
====================================
*/

.pagination { float: left; background: #e6e6e6; padding: 8px; border-radius: 5px; -moz-border-radius: 5px; webkit-border-radius: 5px; }
.pagination a, .pagination span { background: #fff; display: block; color: #444; text-decoration: none; float: left; padding: 2px 10px; border: 1px solid #bfbfbf; border-left: none; }
.pagination a.disabled, .pagination span.disabled,
.pagination a.disabled:hover, .pagination span.disabled:hover { color: #999; background: #fff; }
.pagination a:hover { background: url("../img/gradient-light.png") repeat-x scroll left bottom #f6f6f6; }
.pagination .next { border-right: 1px solid #bfbfbf; }
.pagination a:first-child { border-left: 1px solid #bfbfbf; }
.pagination .current, .pagination .current:hover { color: #444; background: url("../img/gradient-light.png") repeat-x scroll left bottom #d9d9d9; }

/* Like pagination: option_toggle */
.option_toggle { float: left; background: #e6e6e6; padding: 8px; border-radius: 5px; -moz-border-radius: 5px; webkit-border-radius: 5px; }
.option_toggle a, .option_toggle span { background: #fff; display: block; color: #444; text-decoration: none; float: left; padding: 0.3em 0.5em; border: 1px solid #bfbfbf; border-left: none; }
.option_toggle a.disabled, .option_toggle span.disabled,
.option_toggle a.disabled:hover, .option_toggle span.disabled:hover { color: #999; background: #fff; }
.option_toggle a:hover { background: url("../img/gradient-light.png") repeat-x scroll left bottom #f6f6f6; }
.option_toggle .next { border-right: 1px solid #bfbfbf; }
.option_toggle a:first-child { border-left: 1px solid #bfbfbf; }
.option_toggle .current, .option_toggle .current:hover { color: #444; background: url("../img/gradient-light.png") repeat-x scroll left bottom #d9d9d9; }

/*
====================================
 Page "cards" and list views
====================================
*/

.card {
  background-color: white;
  padding: 0;
  display: inline-block;
  margin-right: 1em;
  margin-top: 1em;
  border: 1px solid #d8d8d8;
  box-shadow: 2px 2px 5px #cdcdcd;
  text-align: center;
}
.card:hover {
  box-shadow: 2px 2px 5px #818181;
  opacity: 0.8;
}
.card a {
  text-decoration: none;
  color: #5c5c5c;
}
.card img {
  display: block;
}
.card .info {
  overflow: hidden;
  border-top: 1px solid #DFDFDF;
  width: 200px;
  height: 2.4em;
  display: block;
}
.card .info .title {
  font-size: 80%;
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: bold;
}
.card .placeholder {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: #efefef;
  display: block;
}
.card .placeholder .text {
  font-size: 80%;
  text-align: left;
  padding: 2em;
  color: #a9a9a9;
}
.card .map {
  width: 200px;
  height: 200px;
  display: table;
}
.card .mapwidget {
  width: 200px!important;
  height: 200px!important;
}
.card .mapwidget:hover {
  cursor: pointer;
}

/*
====================================
 Explore page
====================================
*/

#explore .see_also .option_toggle {
  margin-bottom: 1em;
}
#explore .see_also {
  border-top: none;
}

#explore .cards {
  text-align: center;
}


/*
====================================
 Editor
====================================
*/

#editor_actions {
    height: 4em;
    margin-top: -1em;
}
#editor_actions ul, #editor_actions .extra_actions {
    list-style-type: none;
    margin: 0
    padding: 0;
}
#editor_actions li {
    margin: 0;
    padding: 0;
    float: left;
}
#editor_actions .extra_actions {
    float: right;
    margin-top: -2.8em;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 0.5em 0 0.5em 0;

}
#editor_actions .extra_actions li {
    float: left;
    margin-right: 0.5em;
}
#editor_actions .extra_actions li:first-child {
    float: left;
    margin-left: 0.5em;
}
#editor_actions input[type="submit"] {
    padding: 8px 12px;
}
#editor_actions .cancel .button {
    margin-top: 0.70em;
}

#id_comment {
    max-width: 30em;
    width: 50%;
    padding-right: 0.2em;
    padding-left: 0.5em;
}
form #content_footer {
    margin-top: -1em;
}
.mapdata form #content_footer {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
}

/* Inside page editor, indicate that clicking on page title 
   allows for page rename */
.in_edit #object_title a:hover {
    background-color: white; 
    outline: 1px solid gray;
    color: #444;
}


@media screen and (max-width: 1075px) {
    #editor_actions .extra_actions {
        padding: 0;
        margin-left: 2em;
        background: none;
    }
    #editor_actions .extra_actions li, #editor_actions .extra_actions li:first-child {
        display: block;
        float: none;
        margin: 0;
        margin-top: 0.5em;
        width: 100%;
    }
    #editor_actions .extra_actions li a {
        display: block;
        float: none;
        width: 200px;
        text-align: center;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
@media screen and (max-width: 600px) {
    #editor_actions {
        margin: 0;
        height: auto;
    }
    #editor_actions .save_area {
        text-align: center;
    }
    #content_footer h3 {
        font-size: 100%;
    }
    #editor_actions .save {
        width: 74%;
        float: left;
    }
    #editor_actions .save input[type="submit"] {
        width: 100%;
    }
    #editor_actions .cancel {
        float: right;
        width: 20%;
    }
    #editor_actions .cancel .button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
    #editor_actions .extra_actions {
        float: none;
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: inline-block;
        width: 100%;
    }
    #editor_actions .extra_actions li a {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    #id_comment {
        width: 100%;
    }

    .mapdata form #content_footer {
        padding-left: 1em;
        padding-right: 1em;
    }

    #editor_actions .button {
        float: none;
    }
}

/*
=======================================
 Regions
=======================================
*/

.region .slug_choice .url_demo * {
    vertical-align: middle;
}
.region form .item input {
    margin-top: 0.5em;
}
.region .slug_choice .hub_base_url {
    font-size: 130%;
}
.region .slug_choice .slash {
    font-size: 120%;
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: #868686;
}
.region .slug_choice input {
    display: inline;
    width: 10em;
    color: inherit;
    vertical-align: middle;
    margin: 0;
    margin-top: 0!important;
}
.region .slug_choice .help_text {
    margin-top: 0.3em;
}

.region .help_text {
     color: #868686;
     display: block;
}

.region form .item {
    margin-top: 1em;
    margin-bottom: 1em; 
    padding: 1.1em 1em 1em 1em;
    background-color: #ededef;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.region form .item {
    margin-top: 2em;
    margin-bottom: 2em;
}
.region form .item .button {
    float: none;
    width: auto;
    display: inline;
}
.region form .item ul {
    list-style: none;
    margin-bottom: 0.8em;
    margin-top: 0.5em;
}
.region form .item li {
    margin-left: 0;
}
.region .geom .help_text {
    margin-top: 0.4em;
}
.region #id_geom {
    margin-top: 1em!important;
    border: 1px solid #d5d5d5;
}
@media screen and (max-width: 700px) {
    .region #id_geom {
        padding: 0!important;
    }
}

/*
=======================================
 Misc widgets
=======================================
*/
.mapwidget .loading {
    width: 100%;
    z-index: 2000;
    background-image: url(../img/loading_spinner.gif);
    background-color: rgba(255, 255, 255, 0.5)!important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    font-style: italic;
    position: absolute;
}
.endless_container .loading {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;
    height: 2.5em;
    background-image: url(../img/loading_spinner.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


/*
=======================================
 Page specific (not stuff in page css)
=======================================
*/
#create_page {
    min-height: 4em;
}
table.noborder, table.noborder td {
    border: none;
}


/*
====================================
 Map customizations for this theme
====================================
*/

/* Map widget in detail view */
.olControlPanZoom {
    margin-left: 15px;
    margin-top: 8px;
}
.olwidgetEditableLayerSwitcher {
    position: absolute;
    left: 130px;
    margin-top: 10px;
}
@media screen and (max-width: 500px) {
    .olControlLayerSwitcher {
        display: none;    
    }
}

/*
====================================
 Main page
====================================
*/

#map_header_bar #map {
    float: none;
    margin: 0;
}
#map_header_bar .mapwidget {
    width: 100%!important;
    float: none;
    margin: 0;
    height: 340px!important;
    display: inline-block;
}
@media screen and (max-width: 700px) {
    #map_header_bar .mapwidget {
        height: 200px!important;
    }
}
@media screen and (max-width: 500px) {
    #map_header_bar #map {
        padding-top: 0; 
    }
}

/*
====================================
 Misc
====================================
*/

#preview_banner {
    padding: 0 2em 0 2em;
    font-size: 80%;
    background-color: #E8ECEF;
}
#preview_banner p {
    margin-bottom: 0.2em;
}
#preview_banner #ask {
    background-color: #feff97;
    margin-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-left: -2em;
    margin-right: -2em;
}
#preview_banner .button {
    display: inline-block!important;
    float: none;
    padding: 0.3em 0.7em 0.5em 0.7em;
    margin-left: 0.5em;
    margin-right: 0.3em;
}
#preview_banner a {
   background: none;
   padding: 0;
   text-decoration: none;
}

.noexternalimg p {
    line-height: 0.5;
}
.noexternalimg a {
    background: none!important;
}

.divider_list {
    list-style-type: none;
}
.divider_list li {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #dddddd;
    font-size: 115%;
}
.divider_list li:hover {
    background-color: #FCFCE2;
}
.divider_list li:last-child {
    border-bottom: none;
}
.divider_list .follow_item {
    margin-top: -0.1em;
}
