{% extends "maps/base.html" %}
{% load diff_tags %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block media %}
{{ block.super }}
{{ map_diff_media }}

<script type="text/javascript">
    function size_map() {
        $('.mapwidget').height(($(window).height() - $('#header').height() - $('#main_header').height()) - $('#content_header').height()) - $('#content_footer').height();
  }
  $(window).resize(size_map);
</script>

<style>
  del {
    background: #FDC6C6;
    text-decoration: none;
  }
  ins {
    background: #b4ff78;
    text-decoration: none;
  }
  del img {
    border: 0.5em #FDC6C6 solid;
  }
  ins img{
    border: 0.5em #b4ff78 solid;
  }
  td.revision_details {
    font-style: italic;
  }
</style>
<script type="text/javascript">
  /* Always display LayerSwitcher in diff view. */
  var base_initMap = olwidget.Map.prototype.initMap;
  olwidget.Map.prototype.initMap = function(mapDivId, opts) {
      base_initMap.call(this, mapDivId, opts);
      this.addControl(new OpenLayers.Control.LayerSwitcher());
  };
</script>
{% endblock %}

{% block title %}Differences for map on {{ new.page.name }}{% endblock %}
{% block header_title %}Differences for map on {{ new.page.name }}{% endblock %}

{% block content %}
  <table width="100%">
    {% block content_header %}
    <thead id="content_header">
        <tr>
            <td class="revision_details">
                {% if old %}
                  Revision {{ old.version_info.version_number }}
                  ({{ old.version_info.date }} by {{ old.version_info.user_link|safe }})
                {% endif %}
            </td>
            <td class="revision_details">
                Revision {{ new.version_info.version_number }}
                ({{ new.version_info.date }} by {{ new.version_info.user_link|safe }})
            </td>
        </tr>
        <tr>
            <td>
                <del>Deletions are marked like this</del>
            </td>
            <td>
                <ins>Additions are marked like this</ins>
            </td>
        </tr>
    </thead>
    {% endblock %}

    <tbody valign="top">
    {% diff old new as map_diff %}
    {{ map_diff.geom }} 
    </tbody>

  </table>
{% endblock %}
