{% extends "maps/base.html" %}

{% block media %}
  {{ block.super }}
  {% include "versionutils/history/media.html" %}
{% endblock %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block title %}Previous versions of map for {{ mapdata.page.name }} - {{ block.super }}{% endblock %}

{% block content %}
  {% include "utils/history/form.html" %}
{% endblock %}

{% block object_actions %}
<ul>
  {% if mapdata %}
      <li><a href="{% url maps:edit slug=mapdata.page.pretty_slug %}" class="button">Edit</a></li>
      <li><a href="{% url maps:history slug=mapdata.page.pretty_slug %}" class="button active">Info</a></li>
  {% endif %}
</ul>
{% endblock %}
