{% extends "maps/base.html" %}

{% block media %}{{block.super}}{{ map.media }}{% endblock %}

{% block title %}Map for {{ mapdata.page.name }} - {{ block.super }}{% endblock %}
{% block header_title %}Map for {{ mapdata.page.name }}{% endblock %}

{% block content %}
    {% if show_revision %}
        <em class="revision_details">
            Revision {{ mapdata.history_info.version_number }}
            ({{ mapdata.history_info.date }}
            by
            {% spaceless %}
            {% if mapdata.history_info.user %}
                <a href="{{ mapdata.history_info.user.get_absolute_url }}">{{ mapdata.history_info.user }}</a>
            {% else %}
                {{ mapdata.history_info.user_ip }}
            {% endif %}
            {% endspaceless %})
        </em>
    {% endif %}
  
  <div>
    {{ map }}
  </div>
  
  <p>Modified {{ date|timesince }} ago (<a href="{% url maps:history slug=mapdata.page.pretty_slug %}">History</a>)</p>
    
  <p>
    <a href="{% url maps:edit slug=mapdata.page.pretty_slug %}">Edit this map</a>
  </p>
{% endblock %}


