{% extends "pages/base.html" %}

{% load url from future %}
{% load i18n %}
{% load cards_tags %}
{% load thumbnail %}
{% load cache %}

{% block title %}{% trans "All Pages" %}{% endblock %}

{% block header_title %}{% trans "All Pages" %}{% endblock %}

{% block media %}{{block.super}}{{ map_media }}{% endblock %}

{% block content %}
  {# {% cache 600 page_list region %} #}
  <ul>
  {% for page in page_list %}

    {% page_card page as card %}

    <div class="card">
      <a href="{{ page.get_absolute_url }}">
        {% if card.file %}
          {% thumbnail card.file.file "200x200" crop="center" as im %}
		    <img src="{{ im.url }}"/>
          {% endthumbnail %}
        {% elif card.map %}
            <div class="map">{{ card.map }}</div>
        {% else %}
            <div class="placeholder"><div class="text">
                {{ page.content|striptags|truncatewords:18 }}
            </div></div>
        {% endif %}
        <div class="info"><span class="title">{{ page.name }}</span></div>
      </a>
    </div>

  {% endfor %}
  </ul>
  {# {% endcache %} #}
{% endblock %}
