{% extends "pages/base.html" %}

{% load i18n %}

{% block title %}{% blocktrans with name=form.instance.name super=block.super %}Permissions for page "{{ name }}" - {{ super }}{% endblocktrans %}{% endblock %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}
<div id="object_tags">
    <h2>{% trans "Who can change this page?" %}</h2>
    <form action="{% url 'pages:permissions' slug=page.slug region=page.region.slug %}" method="POST">
        <p><input type="radio" name="who_can_change" value="everyone"{% if not form.users.value %} checked{% endif %}>{% trans "Everyone" %}</p>
        <p><input type="radio" name="who_can_change" value="just_these_users"{% if form.users.value %} checked{% endif%}>{% trans "Only these users:" %}</p>
        {{ form.users.errors }}
        {% csrf_token %}
        {{ form.users }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <br/>
        <input type="submit" name="save" class="little" value="{% trans "Save" %}"/>
    </form>
</div>
{% endblock %}
