{% extends "site/base.html" %}
{% load url from future %}
{% load i18n %}
{% load user_tags %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block head_extra %}
{% comment %}<link rel="alternate" href="{% url 'activity-syndication' region=region.slug %}" type="application/rss+xml" title="{% trans "News Feed" %}"/> {% endcomment %}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>$(document).ready(function() {
$.endlessPaginate();
});</script>
{% endblock %}

{% block header_title %}<a href="#">{% trans "News Feed" %}</a>{% endblock %}

{% block content %}
  <div id="activityfeed">
    {% include "activity/followed_activity_page.html" %}

    <div class="see_also">
      <p>Something here</p>
    </div>

  </div>
{% endblock %}
