{% extends "maps/base.html" %}
{% load i18n %}

{% load static from staticfiles %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block media %}
    {{ block.super }}
    {% if no_location %}
    <script src="{% static "js/geoPosition.js" %}"></script>
    <script type="text/javascript">
        var nearbyView = function(position) {
            document.location = '?lat=' + position.coords.latitude + '&lng=' + position.coords.longitude;
        };
        $(function() {
            if (geoPosition.init()) {
            geoPosition.getCurrentPosition(nearbyView);
            }
        });
    </script>
    {% endif %}
{% endblock %}

{% block title %}{% trans "Pages near you" %} - {{ block.super }}{% endblock %}
{% block header_title %}{% trans "Pages near you" %}{% endblock %}

{% block content_wrapper %}
<div id="content_wrapper">
  {% if not nearby_maps %}
    <div id="content">
  {% else %}
    <div id="content" class="has_map">
  {% endif %}

    {% block content %}
      {% if not nearby_maps %}
        <p>{% trans "No pages near you. Make some!" %}</p>
      {% else %}
          {{ map.media }}
          <div id="map">
            {{ map }}
            <div class="info"><a id="view_map" class="view tiny button" href="{% url 'maps:global' region=region.slug %}#zoom=15&lat={{ request.GET.lat }}&amp;lon={{ request.GET.lng }}">{% trans "View" %}</a></div>
          </div>
          <div id="nearby_maps">
            <ul>
            {% for map in nearby_maps %}
              <li><a href="{% url 'pages:show' slug=map.page.pretty_slug region=map.region.slug %}">{{ map.page.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
    {% endblock %}
    </div>
</div>
{% endblock %}

