{% extends "site/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block header_title %}
  {% trans "Dashboard" %}
{% endblock %}

{% block media %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery/jquery-1.7.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/flot/jquery.flot.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/flot/jquery.flot.navigate.js" %}"></script>
<link rel="stylesheet" href="{% static "css/dashboard/dashboard.css" %}">
{% endblock %}

{% block content %}
<div class="loading" id="loading">
  {% trans "Statistics loading.  This may take several minutes the first time." %}
</div>

<table class="stats" id="main_stats">
  <thead><tr><td>
    <div id="num_pages" class="stat_number"><div class="type">{% trans "Pages" %}</div></div>
    <div id="num_files" class="stat_number"><div class="type">{% trans "Files" %}</div></div>
    <div id="num_maps" class="stat_number"><div class="type">{% trans "Maps" %}</div></div>
    <div id="num_redirects" class="stat_number"><div class="type">{% trans "Redirects" %}</div></div>
    <div id="num_users" class="stat_number"><div class="type">{% trans "Users" %}</div></div>
  </td></tr></thead>

<tr><td>
<div class="stat_detail">
   <h2>{% trans "Growth over time" %}</h2>
   <div id="num_items_over_time_loading" class="loading">
    {% trans "Generating graph..." %}
   </div>
   <div id="num_items_over_time" class="graph"></div>
</div>
</td></tr>

<tr><td>
<div class="stat_detail">
    <h2>{% trans "Edits over time" %}</h2>
    <div id="num_edits_over_time_loading" class="loading">
    {% trans "Generating graph..." %}
    </div>
    <div id="num_edits_over_time" class="graph"></div>
</div>
</td></tr>

<tr><td>
<div class="stat_detail">
    <h2>{% trans "Page content growth over time" %}</h2>
    <div id="page_content_over_time_loading" class="loading">
    {% trans "Generating graph..." %}
    </div>
    <div id="page_content_over_time" class="graph"></div>
</div>
</td></tr>

<tr><td>
<div class="stat_detail">
    <h2>{% trans "Users registered over time" %}</h2>
    <div id="users_registered_over_time_loading" class="loading">
    {% trans "Generating graph..." %}
    </div>
    <div id="users_registered_over_time" class="graph"></div>
</div>
</td></tr>

</table>

<script type="text/javascript">
function generate_graphs(stats) {

    if(stats.num_items_over_time) {
        $.plot($("#num_items_over_time"),
               stats.num_items_over_time,
               { 
                   'xaxes': [{'mode': 'time'}],
                   'yaxes': [{'panRange': [0, null]}],
                   'zoom': {'interactive': true},
                   'pan': {'interactive': true},
                   'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
               }
        );
        $("#num_items_over_time_loading").hide();
    }

    if(stats.num_edits_over_time) {
        $.plot($("#num_edits_over_time"),
               stats.num_edits_over_time,
               { 
                   'xaxes': [{'mode': 'time'}],
                   'yaxes': [{'panRange': [0, null]}],
                   'series': {'bars': {'show': true}},
                   'zoom': {'interactive': true},
                   'pan': {'interactive': true},
                   'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
               }

        );
        $("#num_edits_over_time_loading").hide();
    }

    if(stats.page_content_over_time) {
        $.plot($("#page_content_over_time"),
               stats.page_content_over_time,
               { 
                   'xaxes': [{'mode': 'time'}],
                   'yaxes': [{'panRange': [0, null]}],
                   'series': {'lines': {'show': true, 'fill': true}},
                   'zoom': {'interactive': true},
                   'pan': {'interactive': true},
                   'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
               }
        );
        $("#page_content_over_time_loading").hide();
    }

    if(stats.users_registered_over_time) {
        $.plot($("#users_registered_over_time"),
               stats.users_registered_over_time,
               { 
                   'xaxes': [{'mode': 'time'}],
                   'yaxes': [{'panRange': [0, null]}],
                   'series': {'lines': {'show': true}},
                   'zoom': {'interactive': true},
                   'pan': {'interactive': true},
                   'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
               }
        );
        $("#users_registered_over_time_loading").hide();
    }
}

function populateData(data) {
    $('#num_pages').prepend(data.num_pages);
    $('#num_files').prepend(data.num_files);
    $('#num_maps').prepend(data.num_maps);
    $('#num_redirects').prepend(data.num_redirects);
    $('#num_users').prepend(data.num_users);
    $('#loading').hide();
    $('#main_stats').show();
    getData('num_items_over_time', '?check_cache=1', 1)
    getData('num_edits_over_time', '?check_cache=1', 1)
    getData('page_content_over_time', '?check_cache=1', 1)
    getData('users_registered_over_time', '?check_cache=1', 1)
}

function getData(graph, qs, timeout) {
    if (qs) qs = qs + '&graph=' + graph;
    if (!qs) qs = '?graph=' + graph;
    $.ajax({
        url: '{% url dashboard:render %}' + qs,
        dataType: 'json',
        success: function(data) {
            if (!data.generated) {
                if (!timeout) timeout = 1000 * 20;
                return setTimeout('getData(\'' + graph + '\')', timeout);
            }
            generate_graphs(data);
        }
    });
}

$(function() {
    $.ajax({
        url: '{% url dashboard:render %}',
        dataType: 'json',
        success: function(data) {
            populateData(data);
        }
    });
});

</script>
{% endblock %}
