{% load i18n %}
<table class="stats">
  <thead><tr><td>
    <div class="stat_number">{{ num_pages }}<div class="type">{% trans "Pages" %}</div></div>
    <div class="stat_number">{{ num_files }}<div class="type">{% trans "Files" %}</div></div>
    <div class="stat_number">{{ num_maps }}<div class="type">{% trans "Maps" %}</div></div>
    <div class="stat_number">{{ num_redirects }}<div class="type">{% trans "Redirects" %}</div></div>
    <div class="stat_number">{{ num_users }}<div class="type">{% trans "Users" %}</div></div>
  </td></tr></thead>

<tr><td>
<div class="stat_detail">
   <h2>{% trans "Growth over time" %}</h2>
   <div id="num_items_over_time" class="graph"></div>
</div>
</td></tr>

<tr><td>
<div class="stat_detail">
    <h2>{% trans "Edits over time" %}</h2>
    <div id="num_edits_over_time" class="graph"></div>
</div>
</td></tr>

<tr><td>
<div class="stat_detail">
    <h2>{% trans "Page content growth over time" %}</h2>
    <div id="page_content_over_time" class="graph"></div>
</div>
</td></tr>

<tr><td>
<div class="stat_detail">
    <h2>{% trans "Users registered over time" %}</h2>
    <div id="users_registered_over_time" class="graph"></div>
</div>
</td></tr>

</table>

<script type="text/javascript">
$(function () {
    var num_items_over_time = {{ num_items_over_time|safe }};
    var num_edits_over_time = {{ num_edits_over_time|safe }};
    var page_content_over_time = {{ page_content_over_time|safe }};
    var users_registered_over_time = {{ users_registered_over_time|safe }};

    $.plot($("#num_items_over_time"),
           num_items_over_time,
           { 
               'xaxes': [{'mode': 'time'}],
               'yaxes': [{'panRange': [0, null]}],
               'zoom': {'interactive': true},
               'pan': {'interactive': true},
               'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
           }
    );

    $.plot($("#num_edits_over_time"),
           num_edits_over_time,
           { 
               'xaxes': [{'mode': 'time'}],
               'yaxes': [{'panRange': [0, null]}],
               'series': {'bars': {'show': true}},
               'zoom': {'interactive': true},
               'pan': {'interactive': true},
               'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
           }

    );

    $.plot($("#page_content_over_time"),
           page_content_over_time,
           { 
               'xaxes': [{'mode': 'time'}],
               'yaxes': [{'panRange': [0, null]}],
               'series': {'lines': {'show': true, 'fill': true}},
               'zoom': {'interactive': true},
               'pan': {'interactive': true},
               'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
           }
    );

    $.plot($("#users_registered_over_time"),
           users_registered_over_time,
           { 
               'xaxes': [{'mode': 'time'}],
               'yaxes': [{'panRange': [0, null]}],
               'series': {'lines': {'show': true}},
               'zoom': {'interactive': true},
               'pan': {'interactive': true},
               'grid': {'backgroundColor': {'colors': ["#fff", "#eee"]}}
           }
    );
});
</script>
