{% extends "site/base.html" %}
{% load static from staticfiles %}

{% block head_extra %}{% if page %}<link rel="alternate" href="{% url pages:changes-feed slug=page.pretty_slug %}" type="application/rss+xml" title="Recent changes on this Page"/>{% endif %}{% endblock %}
  
{% block media %}
{{ block.super }}
<link rel="stylesheet" href="{% static "theme/pages/css/pages.css" %}">
{% if form %}{{ form.media }}{% endif %}
{% endblock %}

{% block header_title %}
  {% if page %}
    <a href="{% url pages:show slug=page.pretty_slug %}">{{ page.name }}</a>
  {% endif %}
{% endblock %}

{% block main %}
{{ block.super }}
{% endblock %}

{% block object_actions %}
  <ul>
    {% if page %}
        <li><a href="{% url pages:edit slug=page.pretty_slug %}" class="button">Edit</a></li>
        <li><a href="{% url pages:history slug=page.pretty_slug %}" class="button">Info</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block attributions %}
  {{ block.super }}
  {% if map %}
    {% include "maps/attribution.html" %}
  {% endif %}
{% endblock %}
