{% extends "pages/base.html" %}
{% block media %}{{ block.super }} {{ form.media }}{% endblock %}

{% block title %}Editing page "{{ form.instance.name }}" - {{ block.super }}{% endblock %}

{% block header_title %}Editing page "{{ form.instance.name }}"{% endblock %}
    
{% block content %}
    <form method="post" action="">{% csrf_token %}
      {{ form.as_ul }}

      {% block content_footer %}
      <div id="content_footer">
        <div id="editor_actions">
          <input type="submit" value="Save"/>
          <a href=".">Cancel</a>
          {% with form.instance as page %}
            {% include "pages/editor_actions.html" %}
          {% endwith %}
        </div>
      </div>
      {% endblock %}
    </form>
{% endblock %}
