{% extends "pages/base.html" %}

{% block head_extra %}{{ block.super }}<link rel="alternate" href="{% url pages:file-changes-feed slug=file.slug file=file.name %}" type="application/rss+xml" title="Recent changes for this file"/>{% endblock %}

{% block media %}
  {{ block.super }}
  {% include "versionutils/history/media.html" %}
{% endblock %}

{% block title %}Information about "{{ file.name }}" on {{ file.slug }} - {{ block.super }}{% endblock %}
{% block header_title %}Information about "{{ file.name }}" on <a href="{% url pages:show slug=file.slug %}">{{ file.attached_to_page }}</a>{% endblock %}

{% block body %}
<body>
   <div class="pagefile">
   {% block everything_wrapper %}
        {{ block.super }}
   {% endblock %}
   </div>
</body>
{% endblock %}

{% block content %}
{% load thumbnail %}
  <p>
  	{% spaceless %}
    <a class="no_icon" href="{% url pages:file slug=file.slug file=file.name %}">
    	{% thumbnail file.file "500x500" upscale=False as im %}
    	<img src="{{ im.url }}" />
    	{% endthumbnail %}
    </a>
    {% endspaceless %}
    <br/>
    <a class="file_{{ file.rough_type }}" href="{% url pages:file slug=file.slug file=file.name %}">
    	Download {{ file.name }}
    </a>
  </p>
  
  {% block extras %}
  <h3>Upload a new version</h3>
  <form action="../_upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tbody>
        {{ form }}
        <td colspan="2">
          <input type="submit" value="Upload"/>
        </td>
      </tbody>
    </table>
  </form>
 
  <h3>Previous versions:</h3>
  {% include "utils/history/form.html" %}
  
  {% endblock %}
  
{% endblock %}
