{% extends "pages/base.html" %}
{% block title %}Page not found{% endblock %}
{% block header_title %}Page "{{ page.name }}" does not exist (yet!){% endblock %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}
{% load pages_tags %}
  <div id="create_page">
    <a href="{% url pages:edit slug=page.pretty_slug %}" class="button">Create this page</a>
  </div>
  {% if page_templates %}
    <div class="templates">
      <p>Or use one of these templates:</p>
      <ul>
        {% for template in page_templates %}
          <li><a href="{% url pages:edit slug=page.pretty_slug %}?template={{template.slug}}">Create with {{template.name_parts.1}} template</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
