{% extends "pages/base.html" %}
{% block media %}{{ block.super }} {{ form.media }}{% endblock %}

{% block title %}Editing page "{{ form.instance.name }}" - {{ block.super }}{% endblock %}

{% block header_title %}Editing page "{{ form.instance.name }}"{% endblock %}
    
{% block content %}
    <form method="post" action="">{% csrf_token %}
      {{ form.as_ul }}
      <input type="submit" value="Save"/>
      <a href=".">Cancel</a>
    </form>
    {% with form.instance as page %}
      {% include "pages/editor_actions.html" %}
    {% endwith %}
{% endblock %}
