{% extends "pages/base.html" %}

{% block title %}Editing page "{{ form.instance.name }}" - {{ block.super }}{% endblock %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block main_wrapper %}
    <div id="main" class="page_form">
        {% block main %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endblock %}

{% block messages %}
  {% if form.errors %}
    <ul class="messages">
      {% for errors in form.errors.values %}
        {% for msg in errors %}
          <li>{{ msg }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
      {{ form.content }}
      {{ form.version_date }}

      {% block content_footer %}
      <div id="content_footer">
        <h3>Please comment about this change:</h3>
        {{ form.comment }}
        <div id="editor_actions">
          <ul>
            <li><input class="button" type="submit" value="Save changes"/></li>
            <li><a href="." class="button cancel">Cancel</a></li>
          </ul>
          <ul class="extra_actions">
          {% with form.instance as page %}
            {% include "pages/editor_actions.html" %}
          {% endwith %}
          </ul>
        </div>
      </div>
      {% endblock %}
    </form>
    {% include "tos/license_in_edit.html" %}
{% endblock %}

{% block object_actions %}
  <ul>
    {% if page %}
        <li><a href="#" class="button active">Edit</a></li>
        <li><a href="{% url pages:history slug=page.pretty_slug %}" class="button">Info</a></li>
    {% endif %}
  </ul>
{% endblock %}
