{% extends "pages/base.html" %}

{% load pages_tags %}

{% block title %}{{ page.name }} - {{ block.super }}{% endblock %}
{% block header_title %}{{ page.name }}{% endblock %}

{% block content %}
  {% if show_revision %}
    <em class="revision_details">
        Revision {{ page.history_info.version_number }}
        ({{ page.history_info.date }}
        by
        {% spaceless %}
        {% if page.history_info.user %}
            <a href="{{ page.history_info.user.get_absolute_url }}">{{ page.history_info.user }}</a>
        {% else %}
            {{ page.history_info.user_ip }}
        {% endif %}
        {% endspaceless %})
    </em>
  {% endif %}
  
  <div>
    {% render_page page.content %}
  </div>
  
  <p>Modified {{ date|timesince }} ago (<a href="{% url pages:history slug=page.pretty_slug %}">History</a>)</p>
  
  <p>
    <a href="{% url pages:edit slug=page.pretty_slug %}">Edit this page</a>
  </p>
{% endblock %}
