{% extends "pages/base.html" %}
{% load thumbnail %}
{% block title %}Files - {{ block.super }}{% endblock %}
{% block media %}
{{ block.super }}
<style>
    ul.file_list {
        list-style-type: none;
        text-indent: -1em;
    }

    .file_list img {
        vertical-align: text-bottom;
        padding: 2px;
    }
</style>
{% endblock %}
{% block header_title %}Files attached to this page: {% endblock %}

{% block content %}
  <ul class="file_list">
  {% for file in file_list %}
    <li>
      {% thumbnail file.file "16x16" as im %}
      <a style="background: url({{ im.url }}) no-repeat left center; padding-left: 16px;" href="{{ file.name }}/_info/">{{ file.name }}</a>
      {% empty %}
      <a class="file_{{ file.rough_type }}" href="{{ file.name }}/_info/">{{ file.name }}</a>
      {% endthumbnail %}
    </li>
  {% endfor %}
  </ul>
  <p>
    <a href="{% url pages:show slug=slug %}">View page</a>
  </p>
{% endblock %}
