{% extends "pages/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load diff_tags %}
{% load pages_tags %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block media %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "theme/pages/css/diff.css" %}">
  <script type="text/javascript" src="{% static "js/jquery/jquery-1.7.min.js" %}"></script>
  <script type="text/javascript" src="{% static "theme/pages/js/diff.js" %}"></script>
  {{ page_diff.media }}
{% endblock %}

{% block title %}{% blocktrans with name=new.name %}Differences for {{ name }}{% endblocktrans %}{% endblock %}
{% block header_title %}{% url pages:show slug=page.pretty_slug as pretty_slug %}{% blocktrans with new_name=new.name %}Differences for <a href="{{ pretty_slug }}">{{ new_name }}</a>{% endblocktrans %}{% endblock %}

{% block content %}
  <div id="page">
    <table width="100%">
      <thead id="content_header">
      {% block content_header %}
          <tr>
              <td class="revision_details">
                  {% if old %}
                    {% blocktrans with version_number=old.version_info.version_number date=old.version_info.date user_link=old.version_info.user_link|safe %}Revision {{ version_number }}
                  ( {{ date }} by {{ user_link }}){% endblocktrans %}
                  {% endif %}
              </td>
              <td class="revision_details">
                  {% blocktrans with version_number=new.version_info.version_number date=new.version_info.date user_link=new.version_info.user_link|safe %}Revision {{ version_number }}
                  ({{ date }} by {{ user_link }}){% endblocktrans %}
              </td>
          </tr>
          <tr>
              <td>
                  <del>{% trans "Deletions are marked like this" %}</del>
              </td>
              <td>
                  <ins>{% trans "Additions are marked like this" %}</ins>
              </td>
          </tr>
      </thead>
      {% endblock %}

      <tbody valign="top">
          {% render_tags page_diff.content %}
      </tbody>

    </table>
  </div>
{% endblock %}
