{% extends "pages/base.html" %}

{% load pages_tags %}

{% block title %}{{ page.name }} - {{ block.super }}{% endblock %}
{% block header %}{{ page.name }}{% endblock %}

{% block main %}
  {% if show_revision %}
    <em class="revision_details">
        Revision {{ page.history_info.version_number }}
        ({{ page.history_info.date }}
        by {{ page.history_info.user_name|default:page.history_info.user_ip }})
    </em>
  {% endif %}
  
  <div>
    {% render_page page.content %}
  </div>
  
  <p>Modified {{ date|timesince }} ago (<a href="{% url page-history slug=page.pretty_slug %}">History</a>)</p>
  
  <p>
    <a href="{% url edit-page slug=page.pretty_slug %}">Edit this page</a>
  </p>
{% endblock %}


