{% extends "pages/base.html" %}

{% block media %}
  {{ block.super }}
  {% include "versionutils/history/media.html" %}
{% endblock %}

{% block title %}Previous versions of page "{{ page.name }}" - {{ block.super }}{% endblock %}
{% block header_title %}Previous versions of page "{{ page.name }}"{% endblock %}

{% block content %}
  {% include "utils/history/form.html" %}
  <p>
    Looking for <a href="../_files/">files</a>?
  </p>
  <p>
    <a href="{% url pages:show slug=page.pretty_slug %}">View page</a>
  </p>
{% endblock %}
