{% extends "pages/base.html" %}

{% load diff_tags %}
{% load pages_tags %}

{% block media %}
  {{ block.super }}
  <style>
    del {
      background: #FDC6C6;
      text-decoration: none;
    }
    ins {
      background: #b4ff78;
      text-decoration: none;
    }
    del img {
      border: 0.5em #FDC6C6 solid;
    }
    ins img{
      border: 0.5em #b4ff78 solid;
    }
    td.revision_details {
      font-style: italic;
    }
  </style>
{% endblock %}

{% block title %}Differences for {{ new.name }}{% endblock %}
{% block header_title %}Differences for {{ new.name }}{% endblock %}

{% block content %}
  <table width="100%">
    <thead>
        <tr>
            <td class="revision_details">
                {% if old %}
                  Revision {{ old.version_info.version_number }}
                  ({{ old.version_info.date }}
                  by
                  {% spaceless %}
                  {% if old.version_info.user %}
                      <a href="{{ old.version_info.user.get_absolute_url }}">{{ old.version_info.user }}</a>
                  {% else %}
                      {{ old.version_info.user_ip }}
                  {% endif %}
                  {% endspaceless %})
                {% endif %}
            </td>
            <td class="revision_details">
                Revision {{ new.version_info.version_number }}
                ({{ new.version_info.date }}
                by
                {% spaceless %}
                {% if new.version_info.user %}
                    <a href="{{ new.version_info.user.get_absolute_url }}">{{ new.version_info.user }}</a>
                {% else %}
                    {{ new.version_info.user_ip }}
                {% endif %}
                {% endspaceless %})
            </td>
        </tr>
    </thead>
    {% diff old new as pagefile_diff %}
    <tbody valign="top">
        {{ pagefile_diff.file }}
    </tbody>
  </table>
  <p>
      <a href="{% url pages:file-info slug=slug file=pagefile.name %}">File info</a>
  </p>
{% endblock %}
