{% extends "pages/base.html" %}

{% block media %}
  {% include "versionutils/history/media.html" %}
{% endblock %}

{% block title %}Information about "{{ file.name }}" - {{ block.super }}{% endblock %}
{% block header_title %}Information about "{{ file.name }}"{% endblock %}

{% block content %}
{% load thumbnail %}
  <p>
    <a href="{% url pages:file slug=file.slug file=file.name %}">
    	{% thumbnail file.file "500x500" as im %}
    	<img src="{{ im.url }}" />
    	{% endthumbnail %}
    </a>
  </p>
  
  {% block extras %}
  <h3>Upload a new version</h3>
  <form action="../_upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tbody>
        {{ form }}
        <td colspan="2">
          <input type="submit" value="Upload"/>
        </td>
      </tbody>
    </table>
  </form>
 
  <h3>Previous versions:</h3>
  {% include "utils/history/form.html" %}
  
  {% endblock %}
  
{% endblock %}
