django>=1.3
html5lib>=0.90
Sphinx>=1.0.7
sorl-thumbnail>=11.01
python-dateutil==1.5
pysolr
django-haystack
django-randomfilenamestorage
https://bitbucket.org/ubernostrum/django-registration/get/tip.tar.gz#egg=django-registration
-e git+git://github.com/philipn/olwidget.git@38eb5ee727f833e74b942bec06f7c92698620525#egg=django-olwidget
