django>=1.3
html5lib>=0.90
Sphinx>=1.0.7
sorl-thumbnail>=11.01
python-dateutil==1.5
pysolr
django-haystack
django-randomfilenamestorage
https://bitbucket.org/ubernostrum/django-registration/get/tip.tar.gz#egg=django-registration
-e git+git://github.com/philipn/olwidget.git@08beca04a0a2c71bbc72ad732b12520e62da9098#egg=django-olwidget
