{% extends "pages/base.html" %}


{% load i18n %}
{% load pages_tags %}
{% load tags_tags %}
{% load gravatar %}
{% load follow_tags %}

{% block title %}{% if not page.is_front_page %}{{ page.name }} - {% endif %}{{ block.super }}{% endblock %}
{% block header_title %}<a href="#">{% if user_for_page.name %}{{ user_for_page.name }}{% else %}{{ user_for_page.username }}{% endif %}</a>{% endblock %}

{% block header_subtitle %}
    <div id="object_subtitle" class="prominent">
    {{ user_for_page.username }}
    </div>
{% endblock %}

{% block header_bar_inner %}
  {% with "user" as object_type_untrans %}
    {% if request.user.is_authenticated %}
      {% trans "user" as object_type %}
      {% follow_form user_for_page %}
    {% endif %}

    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content_wrapper %}
<div id="content_wrapper">
  <div id="content" class="user_page">
  {% block content %}
    {% if show_revision %}
      <em class="revision_details">
          {% blocktrans with version_number=page.version_info.version_number page=old.version_info.date user_link=page.version_info.user_link|safe %}Revision {{ version_number }}
          ({{ date }} by {{ user_link }}){% endblocktrans %}
      </em>
    {% endif %}

    {% if not user_for_page.is_active %}
      <ul class="messages">
        <li>{% trans "This user account is disabled." %}</li> 
      </ul>
    {% endif %}
    
    <div id="page">
      <div id="user_page_info" {% if not page.content %}style="float: left;"{% endif %}>
        <div class="profile_picture"><img src="{% gravatar_url user_for_page.userprofile.gravatar_email 500 %}" class="gravatar" width="250" height="250" /></div>
        <div class="profile_table">
            {% if user_for_page.is_active %}
              {% if user_for_page.userprofile.show_email %}
              <div><a href="mailto:{{ user_for_page.email }}" rel="nofollow">{{ user_for_page.email }}</a></div>
              {% endif %}
              {% if user_for_page.userprofile.personal_url %}
              <div><a href="{{ user_for_page.userprofile.personal_url }}" rel="nofollow">{{ pretty_personal_url }}</a></div>
              {% endif %}
            {% endif %}
            <div>{% blocktrans with date_joined=user_for_page.date_joined|date:"M j, Y" %}Joined on {{ date_joined }}{% endblocktrans %}</div>
        </div>
        <div class="stats_list">
            <div class="stat_number">
                {% if num_contributions %}
                    <a href="{% url 'user-activity' username=user_for_page.username %}">
                {% endif %}
                {{ num_contributions }} <div class="type">{% trans "total contributions" %}</div>
                {% if num_contributions %}
                    </a>
                {% endif %}
            </div>
            <div class="stat_number">
                {% if num_pages_edited %}
                    <a href="{% url 'user-activity' username=user_for_page.username %}?type=page">
                {% endif %}
                {{ num_pages_edited }} <div class="type">{% trans "pages edited" %}</div>
                {% if num_pages_edited %}
                    </a>
                {% endif %}
            </div>
            <div class="stat_number">
                {% if num_maps_edited %}
                    <a href="{% url 'user-activity' username=user_for_page.username %}?type=map">
                {% endif %}
                {{ num_maps_edited }} <div class="type">{% trans "maps edited" %}</div>
                {% if num_maps_edited %}
                    </a>
                {% endif %}
            </div>
        </div>
        
        <div class="objects_followed">
            {% if num_pages_followed %}
            <a href="{% url 'followed-pages' username=user_for_page.username %}">
              <div class="pages_followed">
              {% blocktrans %}{{ num_pages_followed }} pages starred{% endblocktrans %}
              </div>
            </a>
            {% endif %}
            {% if num_users_followed %}
            <a href="{% url 'followed-users' username=user_for_page.username %}"">
            <div class="users_followed">
            {% blocktrans %}{{ num_users_followed }} users starred{% endblocktrans %}
            </div>
            </a>
            {% endif %}
        </div>

        {% if regions_followed %}
          <div class="regions_followed">
            <h3>{% trans "Regions followed" %}</h3>
            <ul>
              {% for follow in regions_followed %}
                  <li><a href="{{ follow.target.get_absolute_url }}">{{ follow.target.slug }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if request.user == user_for_page %}
        <div class="edit_settings"><a href="{% url 'user-settings' %}" class="little button">Edit settings</a></div>
        {% endif %}
        {% if request.user.is_staff %}
        <div class="edit_settings"><a href="/admin/auth/user/{{ user_for_page.id }}/" class="little button">Administrate user</a></div>
        {% endif %}
      </div>

      {% with region=page.region %}
        {% if user_for_page.is_active %}
          {% render_plugins page.content %}
        {% endif %}
      {% endwith %}

      <div style="clear:both;"></div>
      
    <div style="clear:both;"></div>
    </div>
  {% endblock %}
  </div>
  <div id="object_tags">
  {% if not page.version_info %}
    <div class="tags_show">
      {% page_tags page %}
      <a class="tiny button edit_tags" href="{% url 'pages:tags' slug=page.pretty_slug region=page.region.slug %}" onclick="$(this).closest('div').hide().next().show().find('#tagedit-input').focus(); return false;">
        <span>{% if page.pagetagset.tags.count %}{% trans "Edit tags" %}{% else %}{% trans "Add tags" %}{% endif %}</span>
      </a>
    </div>
    <div class="tags edit" style="display: none">
      {% page_tags_form_media %}
      {% page_tags_form page %}
      <a class="edit_tags_cancel" href="{% url 'pages:show' slug=page.pretty_slug region=page.region.slug %}">{% trans "Cancel" %}</a>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}
