{% extends "site/base.html" %}
{% load highlight %}
{% load url from future %}

{% block title %}Search results for "{{ query }}" - {{ block.super }}{% endblock %}
{% block header_title %}Search results for "{{ query }}"{% endblock %}

{% block content %}

    {% if query %}
        {% if not page_exists_for_query %}
          <div id="create_page_dialog">
              No page with the exact title "{{ query }}" exists.
              <div><a href="{% url 'pages:edit' slug=query_slug %}" class="button">Create this page</a></div>
          </div>
        {% endif %}

        <div id="search_results">
          {% for result in page.object_list %}
              <h3>
                  <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
              </h3>
              <p>
                  {% with result.object.content|striptags as content %}
                  {% highlight content with query %}
                  {% endwith %}
              </p>
          {% empty %}
              <p>No results found.</p>
          {% endfor %}

          {% if page.has_previous or page.has_next %}
              <div class="pagination">
                  {% if page.has_previous %}
                  <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="button">&laquo; Previous</a>
                  {% endif %}
                  {% if page.has_next %}
                  <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="button">Next &raquo;</a>
                  {% endif %}
              </div>
          {% endif %}
        </div>
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
