.missing_link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a[href^='http:'], a[href^='https:'] {
    background: url(../img/external_link.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

a[href^='mailto:'] {
    background: url(../img/email_link.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

/* Images */
.image_frame {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em
    margin-bottom: 0.3em;
    margin-right: 4px;
    line-height: 1;
}
.image_frame a {
    line-height: 0;
    display: block;
}
.image_frame_border, .image_frame_border img {
    border: 1px solid #cccccc;
}
.image_frame_border {
    padding: 2px 4px 2px 2px;
}
.image_left {
    float: left;
    clear: left;
    margin-right: 1.1em;
    margin-bottom: 0.3em;
}
.image_right {
    float: right;
    clear: right;
    margin-left: 1.1em;
    margin-bottom: 0.3em;
}
.image_caption {
    display: block;
    text-align: center;
    font-size: 80%;
    margin-top: 0.3em;
    margin-bottom: 0.4em;
}

/* Behavior we want to be specific to page / editor content */
#content #page h1, .page_editor h1,
#content #page h2, .page_editor h2,
#content #page h3, .page_editor h3,
#content #page h4, .page_editor h4,
#content #page h5, .page_editor h5,
#content #page h6, .page_editor h6 {
    clear: both;
}
