.missing_link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a[href^='http:'], a[href^='https:'] {
    background: url(../img/external_link.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

a[href^='mailto:'] {
    background: url(../img/email_link.png) no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.image_frame {
    display:inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 3px;
}

.image_frame_border {
    border: 1px solid #cccccc;
}

.image_left {
    float: left;
    clear: left;
}

.image_right {
    float: right;
    clear: right;
}

.image_caption {
    display: block;
    text-align: center;
}

