{% load i18n %}
{% load user_tags %}

<div>
{% if request.user.is_authenticated %}
    <span class="welcome">
        {% trans "Welcome" %}, {% user_link request.user region=region %}
    </span>
    <span class="actions">
        <a href="{% url 'user-settings' %}">{% trans "settings" %}</a>
        <a href="{% url 'auth_logout' %}?next={{ request.path }}">{% trans "log out" %}</a>
    </span>
{% else %}
    <span class="actions">
        <a href="{% url 'auth_login' %}?next=//{{ request.get_host }}{{ request.path }}" rel="nofollow">{% trans "log in" %}</a> {% trans "or" %} <a href="{% url 'registration_register' %}?next={{ request.get_host }}{{ request.path }}" rel="nofollow">{% trans "create account" %}</a>
    </span>
{% endif %}

</div>
