{% load url from future %}
{% load i18n %}

{% if region %}
    <li><a href="{% url 'pages:show' slug='Front_Page' region=region.slug %}">{% trans "Front Page" %}</a></li>
    <li><a href="{% url 'pages:show' slug='People' region=region.slug %}">{% trans "People" %}</a></li>
    <li><a href="{% url 'maps:global' region=region.slug %}">{% trans "Map" %}</a></li>
    <li><a href="{% url 'recentchanges' region=region.slug %}">{% trans "Recent Changes" %}</a></li>
    <li><a href="{% url 'pages:index' region=region.slug %}">{% trans "All Pages" %}</a></li>
{% else %}
    <li><a href="{% url 'pages:show' slug='Front Page' region='main' %}">Guide</a></li>
    <li><a href="{% url 'pages:show' slug='Help' region='main' %}">Help</a></li>
    <li><a href="{% url 'regions-list' %}">Communities</a></li>
    <li><a href="{% url 'pages:show' slug='About' region='main' %}">About</a></li>
{% endif %}
