{% load i18n %}

{% if region %}
    {% if not region.regionsettings.is_meta_region %}
      <li><a href="{% url 'maps:global' region=region.slug %}">{% trans "Map" %}</a></li>
      <li><a href="{% url 'maps:nearby' region=region.slug %}">{% trans "Near You" %}</a></li>
    {% endif %}
    <li><a href="{% url 'region-activity' region=region.slug %}">{% trans "Activity" %}</a></li>
    <li><a href="{% url 'explore' region=region.slug %}">{% trans "Explore" %}</a></li>
    {% if is_region_admin %}
    <li><a href="{% url 'regions:settings' region=region.slug %}">{% trans "Settings" %}</a></li>
    {% endif %}
{% else %}
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'main-page' %}">{% trans "News Feed" %}</a></li>
    {% endif %}
    <li><a href="{% url 'pages:show' slug='Front Page' region='main' %}">{% trans "Guide" %}</a></li>
    <li><a href="{% url 'pages:show' slug='Help' region='main' %}">{% trans "Help" %}</a></li>
    <li><a href="{% url 'regions:list' %}">{% trans "Communities" %}</a></li>
    <li><a href="/api/">{% trans "API" %}</a></li>
    <li><a href="{% url 'pages:show' slug='About' region='main' %}">{% trans "About" %}</a></li>
{% endif %}
