{% extends "pages/base.html" %}

{% load static from staticfiles %}
{% load i18n %}
{% load cache %}
{% load canonical_urls %}
{% load pages_tags %}
{% load cards_tags %}
{% load follow_tags %}

{% block media %}{{block.super}}{% if map %}{{ map.media }}{% endif %}
<link rel="stylesheet" href="{% static "css/frontpage.css" %}"/>
<script src="{% static "js/jquery/jquery-ui-1.8.16.custom.min.js" %}"></script>
<script src="{% static "js/coverphoto.js" %}"></script>
{% endblock %}

{% block canonical_url %}
  {% render_canonical_url region %}
{% endblock %}

{% block header_bar_inner %}
  {% if request.user.is_authenticated %}
    {% trans "region" as object_type %}
    {% follow_form region %}
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block main_wrapper %}

<div id="cover">
    
    <div class="contents">
        <h1 class="primary_title">{% blocktrans with region_name=region.full_name %}Welcome to the {{ region_name }} LocalWiki!{% endblocktrans %}</h1>
        <h3 class="subtitle">{% blocktrans with region_name=region.full_name %}A website about {{ region_name }} that <em>anyone</em> can edit{% endblocktrans %}</h3>
        <form class="search_or_create" method="GET" action="{% url 'haystack_search' region=region.slug %}">
        {% blocktrans %}
        I want to make a page about <span class="searchbox"><input type="text" name="q" value=""><input type="submit" value="Search or create page"></span>
        {% endblocktrans %}
        </form>
    </div>
{% if frontpage.cover_photo %}
    <img class="photo underlay" src="{{ frontpage.cover_photo.url }}"/>
{% else %}
    {% if cover_map %}
    <div class="underlay with_map">
        {{ cover_map }}
    </div>
    {% else %}
        <img class="photo underlay" src="{% static 'img/front_page_cover_blank.png' %}"/>
    {% endif %}
{% endif %}
</div>
<div id="change_cover_button" class="button">{% trans "Change cover" %}</div>
<form id="cover_form" action="{% url 'coverphoto_upload' region=region.slug %}" method="POST">{% csrf_token %}
    <div id="save_cover" class="button">{% trans 'Save cover' %}</div>
</form>
{% comment %}
We send the file via FormData + xhr, and we need this input element to select the file.  But having the file input in
the form itself causes the form to send *two* files -- one via the append() to FormData, the other appears to be one
the browser previously selected / POSTed, for some reason.  So we break this off and use it only to select the file,
and submit using #cover_form.
{% endcomment %}
<form id="cover_form_selector" action="" method="POST">
    <input type="file" name="cover_file" id="cover_file"/>
</form>

{{ block.super }}
{% endblock %}

{% block content_wrapper %}
<div id="content_wrapper">
  <div id="content">
  {% block content %}
    {% if show_revision %}
      <em class="revision_details">
          {% blocktrans with version_number=page.version_info.version_number page=old.version_info.date user_link=page.version_info.user_link|safe %}Revision {{ version_number }}
          ({{ date }} by {{ user_link }}){% endblocktrans %}
      </em>
    {% endif %}
    
    <div id="page" class="frontpage">
        {% if map %}
        <div id="map">
          <a href="{% url 'maps:global' region=page.region.slug %}">{{ map }}</a>
          <div class="info"><a class="view tiny button" href="{% url 'maps:global' region=page.region.slug %}">{% trans "View" %}</a></div>
        </div>
        {% endif %}

        {% render_plugins page.content %}
        <div id="interesting_pages">
            <h2>{% trans "Some interesting pages" %}</h2>
            {% cache 300 int_frnt_pg request.META.HTTP_HOST region.slug %}
              {% if pages_for_cards %}
                  <div class="cards">
                  {% for page in pages_for_cards %}
                    {% page_card page %}
                  {% endfor %}
                  </div>
                  <div class="explore_more">
                    <a class="button" href="{% url 'explore' region=region.slug %}">{% trans "Explore more pages" %}</a>
                  </div>
              {% else %}
              <div class="no_pages">
                <p>{% trans "There are no pages yet.  Add some!" %}</p>
                <p><a class="button" href="{% url 'haystack_search' region=region.slug %}">{% trans "Add a new page" %}</a></p>
              </div>
              {% endif %}
            {% endcache %}
         </div>

        {% if region.get_nearby_regions %}
        <div class="nearby_regions">
            <h2>{% trans "Explore nearby regions" %}</h2>
            <ul>
                {% for region in region.get_nearby_regions %}
                    <li><a href="{% url 'frontpage' region=region.slug %}">{{ region.full_name }}</a></li>
                {% endfor %}
            </ul>
            <p>Or maybe you want to <a href="{% url 'regions:list' %}">see all LocalWiki regions</a>?</p>
        </div>
        {% endif %}

        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
    </div>
  {% endblock %}
  </div>
</div>
{% endblock %}
