{% extends "pages/page_detail.html" %}

{% block media %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_destination').autocomplete({source: '/api/pages/suggest'});
    });
</script>
{% endblock %}

{% block search_robots %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block dialog %}
<div id="dialog">
 <form method="post" action="">{% csrf_token %}
    <ul>
    {{ form.as_ul }}
    </ul>
    {% if exists %}
      <input type="submit" value="Update redirect"/> 
      <a class="button" href="{% url redirects:delete slug=page.slug %}">Delete redirect</a>
    {% else %}
      <input type="submit" value="Create redirect"/> 
    {% endif %}
 </form>
</div>
{% endblock %}
