{% extends "tags/base.html" %}



{% load i18n %}

{% block title %}{% trans "Tags" %} / {{ tag_name }} - {{ block.super }}{% endblock %}
{% block header_title %}<a href="{% url 'tags:list' region=tag.region.slug %}">{% trans "Tags" %}</a> / {{ tag_name }}{% endblock %}

{% block media %}
  {{ block.super }}
  {% if map %}{{ map.media }}{% endif %}
{% endblock %}

{% block content_wrapper %}
<div id="content_wrapper">
  {% if map %}
    <div id="content" class="has_map">
  {% else %}
    <div id="content">
  {% endif %}
  {% block content %}
    {% include "tags/tagged_list_snippet.html" %}
  {% endblock %}
    </div>
</div>
{% endblock %}
