
{% load i18n %}

{% if map %}
  {{ map.media }}
  <div id="map">
    {{ map }}
    <div class="info"><a class="view tiny button" href="{% url 'maps:tagged' tag=tag.slug region=tag.region.slug %}">{% trans "View" %}</a></div>
  </div>
{% endif %}
<div id="pagetagset"{% if map %} class="has_map"{% endif %}>
{% if pagetagset_list %}
  <ul>
  {% for pagetags in pagetagset_list %}
    <li><a href="{% url 'pages:show' slug=pagetags.page.pretty_slug region=pagetags.region.slug %}">{{ pagetags.page.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  {% blocktrans %}There are no pages with the tag "{{ tag_name }}".{% endblocktrans %}
{% endif %}
</div>
